@font-face {
	font-family: hiragino;
	src: url("../fonts/冬青细黑体.otf");
}

@font-face {
	font-family: kaishu;
	src: url("../fonts/刘梦吟书法行楷.ttf");
}

html {
	margin: 0;
	overflow-x: hidden;
}
*{
	list-style: none;
	font-weight: bold;
}
body {
	background-color: transparent;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
	padding-top: 78px;
	box-sizing: border-box;
	overflow-x: hidden;
}

header {
	margin: 0;
}
h1, h2, h3, h4 {
	padding: 15px;
	margin: 0;
}
a {
	text-decoration: none;
	letter-spacing: 1px;
	color: black;
	-webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
    -moz-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
    -ms-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
    -o-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
    text-shadow: 0 0 0 transparent, 0 0 0 transparent;
}
a:hover {
	color: white;
	text-decoration: none;
	-webkit-text-shadow: 0 0 10px #ff401a, 0 0 50px #ff401a;
    -moz-text-shadow: 0 0 10px #ff401a, 0 0 50px #ff401a;
    -ms-text-shadow: 0 0 10px #ff401a, 0 0 50px #ff401a;
    -o-text-shadow: 0 0 10px #ff401a, 0 0 50px #ff401a;
    text-shadow: 0 0 10px #ff401a, 0 0 50px #ff401a;
}

footer {
	background-image: url(../img/navbar-bg.jpg);
	color: black;
	background-size: cover;
	background-repeat: repeat;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 15px;
	overflow: hidden;
}

footer .col-md-3 {
	padding-left: 40px;
	text-align: center;
}
footer img {
	height: 20px;
	margin-right: 10px;
}

.glyphicon {
	padding: 10px;
}
.navbar-header a {
	padding-bottom: 65px;
}
.navbar-nav > li > a {
	font-size: 15px;
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 15px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
    -moz-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
    -ms-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
    -o-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
    text-shadow: 0 0 0 transparent, 0 0 0 transparent;
    color: rgba(0, 0, 0, 0.7);
    overflow: visible;
}
#logo1 {
	height: 50px;
}
.navbar {
	height: 80px;
	width: 100%;;
	background-color: rgba(255,255,255,1);
	background-repeat: repeat;
	background-size: cover;
}
.navbar a {
	color: grey;
	transition: 0.5s;
}
.navbar li > a:hover,
.navbar li > a:focus,
.navbar li > a:active{
	color: white;
    -webkit-text-shadow: 0 0 10px #ff401a, 0 0 50px #ff9b1a;
    -moz-text-shadow: 0 0 10px #ff401a, 0 0 50px #ff9b1a;
    -ms-text-shadow: 0 0 10px #ff401a, 0 0 50px #ff9b1a;
    -o-text-shadow: 0 0 10px #ff401a, 0 0 50px #ff9b1a;
    text-shadow: 0 0 10px #ff401a, 0 0 50px #ff9b1a;
    background-color: transparent;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 22px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: rgb(255,255,255);
    border: 2px solid pink;
    border-radius: 5;
}

#searchlogo img, #catlogo3 img{
	max-height: 30px;
	transition: 0.3s;
}

#searchlogo:hover, #catlogo3:hover{
	transform: scale(1.2);
}

.icon-bar {
	background-color: pink;
	margin: 10;

}
@media (max-width: 768px) {
	#catlogo3 {
		display: none;
	}
	.navbar-nav {
		border-radius: 5px;
	}
	.navbar-nav > li > a {
	font-size: 15px;
	padding: 20px;
	margin: 0px;
	}
	.navbar-collapse .navbar-nav {
	background-color: rgba(255,255,255,0.7);
	}
	#searchlogo:hover{
		transform: none;
	}
}
/* navbar tablet*/
@media (min-width: 768px) and (max-width: 991px) {
    
    .navbar-nav > li > a {
		font-size: 15px;
		padding: 30px 20px 15px 20px;
	}
	#searchlogo:hover, #catlogo3:hover {
		transform-origin: 50% 50%;
	}
	.side-bar ul > li{
		display: inline-block;
		top: 0%;
	}
	.side-bar ul {
		text-align: center;
	}
		#contact .col-md-6 {
		width: 50%;
		display: inline-block;;
	}
}
/* end */
form {
	margin-bottom: 20px;
}

.form-group textarea,
.form-group input {
	border-radius: 0;
	border: 2px solid black;
}
.btn,
.btn-x1 {
	background-color: white;
	color: black;
	font-size: 15px;
	transition: 0.5s;
	border-radius: 2;
	border: black 1px solid
}
.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
@media only screen and (max-width: 768px){
.form-group{
	max-width: 80%;
	margin-left: 10%;
	margin-right: auto;
}
}
.section-heading{
	text-align: center;
}

/*以下是喵说的slide up动画*/
.poster-wrapper {
  overflow: hidden;
  position: relative;
  margin: 10px 0px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 80px;
}
.poster-wrapper h3{
	font-weight: bold;
	margin: 5px 0 5px 0;
	font-size: 25px;
}

.poster-wrapper p{
	font-weight: bold;
	font-size: 12px;
}
.poster-wrapper a > img {
	max-width: 100%;
	transition: all 0.5s ease;
}

.poster-content {
	height: 100%;
  	background-color: rgba(255,255,255,0.5);
  	position: absolute;
  	padding: 10px;
  	top: 84%;
  	transition: all 0.5s ease;
  	text-align: left;
}

.poster-wrapper:hover .poster-content {
  background-color: rgba(255,255,255,0.8);
  top: 0;
}

.poster-wrapper:hover img {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
	.poster-wrapper {
		width: 100%;
		text-align: left;
		background-color: white;
		padding-right: 10px;
	}
	.poster-wrapper img{
		width: 50%;
		float: left;
		margin-right: 10px;
	}
	.poster-wrapper:hover img {
		transform: none;
	}
	.poster-content {
		width: 45%;
		position: center;
		float: right;
		position: relative;
	}
	.poster-wrapper h3,
	.poster-wrapper p {
		font-size: 14px;
	}
	.google-map {
		margin: 20px auto;
	}

}
/* end */

.col-md-3 {
	padding: 5px;
}

.test img{
	max-height: 120px;
	position: relative;
}
.test h3 {
	font-weight: bold;
	font-family: "kaishu";
}
.test {
	margin-bottom: 50px;
}
.price-list {
	position: center;
}
.col-md-6 {
	padding: 30px;
	display: block;
	position: relative;
	overflow: hidden;
}

table {
	text-align: left;
	width: 100%
}

#veterinary h2,
#veterinary table {
	margin: 0px 20px;
}

.side-bar ul > li{
	margin: 30px 10px;
	text-align: left;
}
.side-bar {
	top: 30%;
	position: fixed;
}

.side-bar ul {
	background-color: rgba(255,255,255,0.6);
}

.side-bar > .navbar-toggle {
    position: relative;
    padding: 9px 10px;
    margin-top: 22px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: rgb(255,255,255);
    border: none;
}

.dropdown-menu {
		position: relative;
		float: none;
}

#veterinary h2 {
	font-weight: bold;
}

.section-header {
	width: 100%;
	height: 100%;
	border-bottom: 2px solid #ff6600;
	text-align: left;
}
.section-header h3{
	color: white;
	width: 37%;
	background-color: #ff6600;
}

/*side-bar hover effect*/

.btn-2 {
  letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #ff6600;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.btn-2:hover,
.btn-2:focus,
.btn-2:active{
	color: black;
    -webkit-text-shadow: 0 0 0px #ff401a, 0 0 0px #ff9b1a;
    -moz-text-shadow: 0 0 0px #ff401a, 0 0 0px #ff9b1a;
    -ms-text-shadow: 0 0 0px #ff401a, 0 0 0px #ff9b1a;
    -o-text-shadow: 0 0 0px #ff401a, 0 0 0px #ff9b1a;
    text-shadow: 0 0 0px #ff401a, 0 0 0px #ff9b1a;


/* end of effect */
